<div class="circle-menu" id="circleMenu">
  <div class="circle-cap" id="circleCap" aria-label="menu toggle"></div>
  <ul class="circle-menu-options">
    <li data-route="home">Dashboard</li>
    <li data-route="reading">Reading</li>
    <li data-route="listening">Listening</li>
    <li data-route="writing">Writing</li>
    <li data-route="speaking">Speaking</li>
    <li data-route="vocabulary">Vocabulary</li>
    <li data-route="grammar">Grammar</li>
    <li data-route="setting">Setting</li>
  </ul>
</div>

<script src="components/circle-menu/circle-menu.js"></script>
<link rel="stylesheet" href="components/circle-menu/circle-menu.css">